<section class="page-header" style="background-image: url(assets/images/breadcrumb-bg.jpg);
background-size: cover;
position: relative;
border-radius: 0;
color: #fff;" id="page-header">
    <div class="page-block">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-title">
                        <h5 class="m-b-10">Dashboard</h5>
                        <p class="m-b-0">Welcome to Avision Admin Panel</p>
                    </div>
                </div>
                <div class="col-md-4 text-right">
                    <a [routerLink]="['/superadmin/dashboard']" style="color:#fff">Home</a> / Live Test
                </div>
            </div>
        </div>
    </div>
</section>

<div class="overlay" *ngIf="showLoader">
    <div class="center">
        <mat-progress-spinner diameter=100 mode="indeterminate" color="primary">
        </mat-progress-spinner>
        <div class="message">{{progress}}%</div>
    </div>
</div>


<section class="video-course-section">
    <div class="container-fluid">
        <mat-card class="pt-5">
            <mat-horizontal-stepper [linear]="isLinear" #stepper style="min-height: 40vh;">
                <mat-step [stepControl]="addVideoProduct">
                    <form [formGroup]="addVideoProduct" (ngSubmit)="addVideoproductDetails()">
                        <ng-template matStepLabel>Creat Test</ng-template>
                        <h1 class="text-center">VIDEO COURSES</h1>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-5">
                                <mat-form-field appearance="outline">
                                    <mat-label>Video Title</mat-label>
                                    <input matInput formControlName="videotitle">
                                </mat-form-field>
                            </div>

                            <div class="col-12 col-md-6 col-lg-3">
                                <mat-form-field appearance="outline">
                                    <mat-label>Video Course</mat-label>
                                    <mat-select formControlName="videocourse">
                                        <mat-option *ngFor="let course of courseLists" [value]="course.courses_id">
                                            {{course.courses_name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-12 col-md-6 col-lg-2">
                                <mat-form-field appearance="outline">
                                    <mat-label>Actual Price</mat-label>
                                    <input matInput type="number" formControlName="actual_price">
                                </mat-form-field>
                            </div>

                            <div class="col-12 col-md-6 col-lg-2">
                                <mat-form-field appearance="outline">
                                    <mat-label>Offer Price</mat-label>
                                    <input matInput type="number" formControlName="offer_price">
                                </mat-form-field>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-8">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Videos Count</mat-label>
                                            <input matInput type="number" formControlName="video_count">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-12 col-md-6 col-lg-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Video Language</mat-label>
                                            <mat-select formControlName="video_lang">
                                                <mat-option value="0">
                                                    English
                                                </mat-option>

                                                <mat-option value="1">
                                                    Hindi
                                                </mat-option>

                                                <mat-option value="2">
                                                    Bilingual
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-12 col-md-6 col-lg-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Video validity</mat-label>
                                            <input matInput type="number" formControlName="video_validity">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <mat-label>Video Description</mat-label>
                                        <angular-editor [config]="editorConfig" required formControlName="video_desc">
                                        </angular-editor>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-12 col-lg-4">
                                <h1>Product Image</h1>
                                <img [src]="src" class="img-fluid" />
                                <input class="btn btn-danger btn-block" type="file" (change)="onSelectFile($event)"
                                    accept=".png, .jpg, .jpeg" value="Add Product Image" formArrayName="video_thumb" />
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-12 col-md-10 col-lg-6 mx-auto">
                                <button type="submit" mat-raised-button class="btn-success btn-block">Submit Video
                                    Details</button>
                            </div>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="addProductVideo">
                    <form [formGroup]="addProductVideo" (ngSubmit)="addVideoproductVideoDetails()">
                        <ng-template matStepLabel>Add Video </ng-template>
                        <div class="row">
                            <div class="col-4">
                                <h1>Total Video: {{totalVideoCount}}</h1>
                            </div>
                            <div class="col-4">
                                <h1>Video Added: {{addedVideo}}</h1>
                            </div>
                            <div class="col-4">
                                <h1>Added Remains: {{remainingVideo}}</h1>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-12 col-md-6 col-lg-3">
                                <mat-form-field appearance="outline">
                                    <mat-label>Select Video Category</mat-label>
                                    <mat-select formControlName="videocategory">
                                        <mat-option *ngFor="let category of videoCategoryLists" [value]="category.video_category_id">
                                            {{category.video_category_name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-12 col-md-6 col-lg-3">
                                <mat-form-field appearance="outline">
                                    <mat-label>Select Video Subject</mat-label>
                                    <mat-select #subject formControlName="videosubject" (selectionChange)="getVideoChapter(subject.value)">
                                        <mat-option  *ngFor="let subject of videoSubjectLists" [value]="subject.type_id">
                                            {{subject.type_name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-12 col-md-6 col-lg-3">
                                <mat-form-field appearance="outline">
                                    <mat-label>Select Video Chapter</mat-label>
                                    <mat-select formControlName="videochapter">
                                        <mat-option *ngFor="let chapter of chapterLists" [value]="chapter.chapter_id">
                                            {{chapter.chapter_name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            

                            <div class="col-12 col-md-6 col-lg-3">
                                <mat-form-field appearance="outline">
                                    <mat-label>Enter Video Name</mat-label>
                                    <input matInput formControlName="video_name">
                                </mat-form-field>
                            </div>

                            <div class="col-12 col-md-6 col-lg-4">
                                <mat-form-field appearance="outline">
                                    <mat-label>Enter Video Url</mat-label>
                                    <input matInput formControlName="video_url">
                                </mat-form-field>                                                               
                                <input type="text" formControlName="product_id" [(ngModel)]="product_id">                                
                            </div>

                            <div class="col-12 col-md-6 col-lg-4">    
                                 <section class="example-section">
                                    <mat-checkbox class="example-margin" formControlName="demo">Set As Demo</mat-checkbox>                                    
                                </section>
                            </div>

                            <div class="col-12 col-md-12 col-lg-4">
                                <h1>Video Thumb Image</h1>
                                <img [src]="src2" class="img-fluid" />
                                <input class="btn btn-danger btn-block" type="file" (change)="onSelectFile2($event)"
                                    accept=".png, .jpg, .jpeg" value="Add Product Image" formArrayName="video_thumb" />
                            </div>
                        </div>

                        <div class="row mt-5">
                            <div class="col-12 col-md-10 col-lg-6 mx-auto">
                                <button type="submit" mat-raised-button class="btn-success btn-block">Submit Video
                                    Details</button>
                            </div>
                        </div>

                    </form>
                </mat-step>

            </mat-horizontal-stepper>
        </mat-card>

    </div>
</section>