<div class="overlay" *ngIf="showLoader">
  <div class="center">
    <mat-progress-spinner diameter=100 mode="indeterminate" color="primary">
    </mat-progress-spinner>
    <div class="message">{{progress}}%</div>
  </div>
</div>

<section class="page-header" style="background-image: url(assets/images/breadcrumb-bg.jpg);
      background-size: cover;
      position: relative;
      border-radius: 0;
      color: #fff;" id="page-header">
  <div class="page-block">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-8">
          <div class="page-title">
            <h5 class="m-b-10">Dashboard</h5>
            <p class="m-b-0">Welcome to Avision Admin Panel</p>
          </div>
        </div>
        <div class="col-md-4 text-right">
          <a [routerLink]="['/superadmin/dashboard']" style="color:#fff">Home</a> / Sub Course Category
        </div>
      </div>
    </div>
  </div>
</section>


<section class="video-course-section">
  <div class="container-fluid">
    <mat-card>
      <form [formGroup]="subCourseCategory" (ngSubmit)="submitSubCourseCategoryDetails()">
        <div class="row">
          <div class="col-12">
            <h1 class="text-center">ADD SUB COURSES CATEGORY</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-9">
            <div class="row">
              <div class="col-12 col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>Select Sub-Course</mat-label>
                  <mat-select #subcourse formControlName="subcourse" required
                    (selectionChange)="getParentCategory(subcourse.value)" [(ngModel)]="subcoursesid">
                    <mat-option *ngFor="let courses of allCourses" [value]="courses.sub_courses_id">
                      {{courses.sub_courses_name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-12 col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>Select Parent-category</mat-label>
                  <mat-select formControlName="parentcategory" required [(ngModel)]="parentcatid">
                    <mat-option *ngFor="let category of parentCategory" [value]="category.parent_cat_id">
                      {{category.category_name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-12 col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>Sub-Course Name </mat-label>
                  <input matInput placeholder="Sub Course Name..." formControlName="subcoursename" required [(ngModel)]="subcategoryname">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Correct Marks </mat-label>
                  <input type="number" matInput placeholder="Sub Course Name..." formControlName="correctmark" required [(ngModel)]="correctmarks">
                </mat-form-field>
              </div>
              <div class="col-12 col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Negetive Marks </mat-label>
                  <input type="number" matInput placeholder="Sub Course Name..." formControlName="negativemark"
                    required [(ngModel)]="negetivemarks">
                </mat-form-field>
                <input type="hidden" formControlName="subcategoryid" [(ngModel)]="prodId">
              </div>
            </div>
          </div>
          <div class="col-12 col-md-3">
            <img [src]="src" class="img-fluid" />
            <input class="btn btn-danger btn-block" type="file" (change)="onSelectFile($event)"
              accept=".png, .jpg, .jpeg" value="Add Product Image" formArrayName="sub_course_category_img" />
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-12 mx-auto">
            <button type="submit" mat-raised-button class="btn-success">Update Sub Course Category</button>
          </div>
        </div>

      </form>
    </mat-card>
  </div> 
</section>
