<div class="row">
    <div class="col-12">
     <h1 class="text-center" style="color: #000;" *ngIf="getvideoId">{{data.lecture_name}}</h1>
      <span style="cursor: pointer;" class="float-right close" style="color: #000; cursor: pointer;"
        (click)="closeDialog()">
        <mat-icon>clear</mat-icon>
      </span>
    </div>

    <div class="container-fluid">
        <iframe *ngIf="getvideoId" [src]="videoUrl" allowfullscreen frameborder="0" style="overflow:hidden;height:450px;width:100%"></iframe>
    </div>
  </div>