<div class="row">
    <div class="col-12">
        <h1 class="text-center"> EDIT CATEGORY </h1>
      <span style="cursor: pointer;" class="float-right close" style="color: #000; cursor: pointer;" (click)="closeDialog()"><mat-icon>clear</mat-icon> </span>
    </div>
  </div>


  <div class="row">
    <div class="col-12 col-md-8 col-lg-7 mx-auto">
      <mat-form-field appearance="outline">
          <mat-label>Small Quiz Category</mat-label>
          <input matInput placeholder="General Studies" [(ngModel)]="chapterName"  #catname>
      </mat-form-field>
    </div>     
  </div>
  <div class="row">
      <div class="col-12 col-md-6 col-lg-5 mx-auto">
          <button mat-raised-button color="primary" class="btn-block" (click)="editcatname(catname.value)">Edit Category Name</button>
      </div>
  </div>
   