<div class="main-menu-header" style="padding: 10px 0 17px;
background-image: url(assets/images/user-bg.jpg);
background-size: cover;
text-align: center;
position: relative;">

  <img class="img-80 img-radius mCS_img_loaded" src="assets/images/avatar-2.jpg" alt="User-Profile-Image">
  <div class="user-details">
    <button mat-raised-button class="user_btn" [matMenuTriggerFor]="menu">
      Tanmay Dey
      <mat-icon>expand_more</mat-icon>
    </button>

    <mat-menu #menu="matMenu" xPosition="before">

      <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        Profile
      </button>

      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Sign out
      </button>

    </mat-menu>
  </div>


</div>

<mat-nav-list>
  <a mat-list-item [routerLink]="['/superadmin/dashboard']" matTooltip="Dashboard" matTooltipPosition="after"
    routerLinkActive="active-list-item">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>



  <a matTooltip="Dashboard" matTooltipPosition="after" routerLinkActive="active-list-item" mat-list-item
    (click)="showSubmenu = !showSubmenu" class="parent">
    <span class="full-width" *ngIf="isExpanded || isShowing">Live Class</span>
    <mat-icon mat-list-icon>note_add</mat-icon>
    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more
    </mat-icon>
  </a>
  <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
    <a [routerLink]="['/superadmin/addcourse']" routerLinkActive="active-list-item" mat-list-item>
      <mat-icon>playlist_add</mat-icon>Add Live Class
    </a>

    <a [routerLink]="['/superadmin/editliveliveclass']" routerLinkActive="active-list-item" mat-list-item>
      <mat-icon>playlist_add</mat-icon>Edit Live Class
    </a>
    <a matTooltip="Dashboard" matTooltipPosition="after" [routerLink]="['/superadmin/addliveclassvideo']"
      routerLinkActive="active-list-item" mat-list-item>
      <mat-icon>add_to_queue</mat-icon> Add live class Video
    </a>
  </div>




  <a matTooltip="Dashboard" matTooltipPosition="after" routerLinkActive="active-list-item" mat-list-item
    (click)="showSubmenu1 = !showSubmenu1" class="parent">
    <span class="full-width" *ngIf="isExpanded || isShowing">Video Courses</span>
    <mat-icon mat-list-icon>note_add</mat-icon>
    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu1}" *ngIf="isExpanded || isShowing">expand_more
    </mat-icon>
  </a>
  <div class="submenu" [ngClass]="{'expanded' : showSubmenu1}" *ngIf="isShowing || isExpanded">
    <a [routerLink]="['/superadmin/addvideocourse']" routerLinkActive="active-list-item" mat-list-item>
      <mat-icon>playlist_add</mat-icon>Add Video Courses
    </a>
  </div>




  <a matTooltip="Dashboard" matTooltipPosition="after" routerLinkActive="active-list-item" mat-list-item
    (click)="showSubmenu2 = !showSubmenu2" class="parent">
    <span class="full-width" *ngIf="isExpanded || isShowing">Small Quiz</span>
    <mat-icon mat-list-icon>note_add</mat-icon>
    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu2}" *ngIf="isExpanded || isShowing">expand_more
    </mat-icon>
  </a>
  <div class="submenu" [ngClass]="{'expanded' : showSubmenu2}" *ngIf="isShowing || isExpanded">
    <a [routerLink]="['/superadmin/smallquiz']" routerLinkActive="active-list-item" mat-list-item>
      <mat-icon>playlist_add</mat-icon>view Small Quiz
    </a>

    <a [routerLink]="['/superadmin/small_cat']" routerLinkActive="active-list-item" mat-list-item>
      <mat-icon>playlist_add</mat-icon>Small Quiz Category
    </a>

    <a [routerLink]="['/superadmin/small_sub_cat']" routerLinkActive="active-list-item" mat-list-item>
      <mat-icon>playlist_add</mat-icon>Sub Category
    </a>

    <a [routerLink]="['/superadmin/add_small_quiz_chapter']" routerLinkActive="active-list-item" mat-list-item>
      <mat-icon>playlist_add</mat-icon>Add Chapter
    </a>

    <a [routerLink]="['/superadmin/add_daily_quiz']" routerLinkActive="active-list-item" mat-list-item>
      <mat-icon>playlist_add</mat-icon>Add Daily Quiz
    </a>

    <a [routerLink]="['/superadmin/add_small_quiz']" routerLinkActive="active-list-item" mat-list-item>
      <mat-icon>playlist_add</mat-icon>Add Small Quiz
    </a>
  </div>


  <a matTooltip="Dashboard" matTooltipPosition="after" routerLinkActive="active-list-item" mat-list-item
    (click)="showSubmenu3 = !showSubmenu3" class="parent">
    <span class="full-width" *ngIf="isExpanded || isShowing">Test Manager</span>
    <mat-icon mat-list-icon>note_add</mat-icon>
    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu3}" *ngIf="isExpanded || isShowing">expand_more
    </mat-icon>
  </a>
  <div class="submenu" [ngClass]="{'expanded' : showSubmenu3}" *ngIf="isShowing || isExpanded">
    <a [routerLink]="['/superadmin/fulllengthtest']" routerLinkActive="active-list-item" mat-list-item>
      <mat-icon>playlist_add</mat-icon>Full Length Test
    </a>

    <a [routerLink]="['/superadmin/sectionaltest']" routerLinkActive="active-list-item" mat-list-item>
      <mat-icon>playlist_add</mat-icon>Sectional Test
    </a>

    <a [routerLink]="['/superadmin/previousyeartest']" routerLinkActive="active-list-item" mat-list-item>
      <mat-icon>playlist_add</mat-icon>Previous Year Test
    </a>
  </div>




  <a matTooltip="Dashboard" matTooltipPosition="after" routerLinkActive="active-list-item" mat-list-item
    (click)="showSubmenu4 = !showSubmenu4" class="parent">
    <span class="full-width" *ngIf="isExpanded || isShowing">Courses</span>
    <mat-icon mat-list-icon>note_add</mat-icon>
    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu4}" *ngIf="isExpanded || isShowing">expand_more
    </mat-icon>
  </a>
  <div class="submenu" [ngClass]="{'expanded' : showSubmenu4}" *ngIf="isShowing || isExpanded">
    <a [routerLink]="['/superadmin/addcoursemaincourse']" routerLinkActive="active-list-item" mat-list-item>
      <mat-icon>playlist_add</mat-icon>Add Course
    </a>

    <a [routerLink]="['/superadmin/addparentcategory']" routerLinkActive="active-list-item" mat-list-item>
      <mat-icon>playlist_add</mat-icon>Add Parent Category
    </a>

    <a [routerLink]="['/superadmin/addsubcourse']" routerLinkActive="active-list-item" mat-list-item>
      <mat-icon>playlist_add</mat-icon>Add Sub Course
    </a>

    <a [routerLink]="['/superadmin/addsubcoursecategory']" routerLinkActive="active-list-item" mat-list-item>
      <mat-icon>playlist_add</mat-icon>Sub Course Category
    </a>

    <a [routerLink]="['/superadmin/addcoursesection']" routerLinkActive="active-list-item" mat-list-item>
      <mat-icon>playlist_add</mat-icon>Add Course Section
    </a>
  </div>

  <a matTooltip="Dashboard" matTooltipPosition="after" routerLinkActive="active-list-item" mat-list-item
    (click)="showSubmenu5 = !showSubmenu5" class="parent">
    <span class="full-width" *ngIf="isExpanded || isShowing">Student Section</span>
    <mat-icon mat-list-icon>note_add</mat-icon>
    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu5}" *ngIf="isExpanded || isShowing">expand_more
    </mat-icon>
  </a>
  <div class="submenu" [ngClass]="{'expanded' : showSubmenu5}" *ngIf="isShowing || isExpanded">
    <a [routerLink]="['/superadmin/studentsection']" routerLinkActive="active-list-item" mat-list-item>
      <mat-icon>playlist_add</mat-icon>Student List
    </a>

    <a [routerLink]="['/superadmin/addstudent']" routerLinkActive="active-list-item" mat-list-item>
      <mat-icon>playlist_add</mat-icon>Add Student
    </a>

    <a [routerLink]="['/superadmin/asigncoupon']" routerLinkActive="active-list-item" mat-list-item>
      <mat-icon>playlist_add</mat-icon>Asign Coupon
    </a>

  </div>

  <a matTooltip="Dashboard" matTooltipPosition="after" routerLinkActive="active-list-item" mat-list-item
    (click)="showSubmenu6 = !showSubmenu6" class="parent">
    <span class="full-width" *ngIf="isExpanded || isShowing">Settings</span>
    <mat-icon mat-list-icon>note_add</mat-icon>
    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu6}" *ngIf="isExpanded || isShowing">expand_more
    </mat-icon>
  </a>
  <div class="submenu" [ngClass]="{'expanded' : showSubmenu6}" *ngIf="isShowing || isExpanded">
    <a [routerLink]="['/superadmin/addparentsubject']" routerLinkActive="active-list-item" mat-list-item>
      <mat-icon>playlist_add</mat-icon>Add Parent Subject
    </a>

    <a [routerLink]="['/superadmin/addchapter']" routerLinkActive="active-list-item" mat-list-item>
      <mat-icon>playlist_add</mat-icon>Add Chapter
    </a>

     <a [routerLink]="['/superadmin/addsubchapter']" routerLinkActive="active-list-item" mat-list-item>
      <mat-icon>playlist_add</mat-icon>Add Sub Chapter
    </a>

    <a [routerLink]="['/superadmin/addsubject']" routerLinkActive="active-list-item" mat-list-item>
      <mat-icon>playlist_add</mat-icon>Add Subject
    </a>

    <a [routerLink]="['/superadmin/addteacher']" routerLinkActive="active-list-item" mat-list-item>
      <mat-icon>playlist_add</mat-icon>Add Teacher
    </a>

    <a [routerLink]="['/superadmin/addbanner']" routerLinkActive="active-list-item" mat-list-item>
      <mat-icon>playlist_add</mat-icon>Add Banner
    </a>

    <a [routerLink]="['/superadmin/addyoutubevideo']" routerLinkActive="active-list-item" mat-list-item>
      <mat-icon>playlist_add</mat-icon>Add Youtube Video
    </a>

    <a [routerLink]="['/superadmin/addtestimonial']" routerLinkActive="active-list-item" mat-list-item>
      <mat-icon>playlist_add</mat-icon>Add Testimonial
    </a>

    <a [routerLink]="['/superadmin/reordertrendingtest']" routerLinkActive="active-list-item" mat-list-item>
      <mat-icon>playlist_add</mat-icon>Re-Order Test
    </a>

    


    
    <a [routerLink]="['/superadmin/generatecoupon']" routerLinkActive="active-list-item" mat-list-item>
      <mat-icon>playlist_add</mat-icon>Coupon
    </a>
  </div>

  <a matTooltip="Dashboard" matTooltipPosition="after" routerLinkActive="active-list-item" mat-list-item
  (click)="showSubmenu7 = !showSubmenu7" class="parent">
  <span class="full-width" *ngIf="isExpanded || isShowing">Study</span>
  <mat-icon mat-list-icon>note_add</mat-icon>
  <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu7}" *ngIf="isExpanded || isShowing">expand_more
  </mat-icon>
</a>
<div class="submenu" [ngClass]="{'expanded' : showSubmenu7}" *ngIf="isShowing || isExpanded">
  <a [routerLink]="['/superadmin/addconcept']" routerLinkActive="active-list-item" mat-list-item>
    <mat-icon>playlist_add</mat-icon>Add Concept
  </a>

  <a [routerLink]="['/superadmin/addstudyvideo']" routerLinkActive="active-list-item" mat-list-item>
    <mat-icon>playlist_add</mat-icon>Add Study Video
  </a>
</div>



<a matTooltip="Dashboard" matTooltipPosition="after" routerLinkActive="active-list-item" mat-list-item
    (click)="showSubmenu8 = !showSubmenu8" class="parent">
    <span class="full-width" *ngIf="isExpanded || isShowing">Discuss</span>
    <mat-icon mat-list-icon>note_add</mat-icon>
    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu8}" *ngIf="isExpanded || isShowing">expand_more
    </mat-icon>
  </a>
  <div class="submenu" [ngClass]="{'expanded' : showSubmenu8}" *ngIf="isShowing || isExpanded">
    <a [routerLink]="['/superadmin/postapproval']" routerLinkActive="active-list-item" mat-list-item>
      <mat-icon>playlist_add</mat-icon>Post Approval
    </a>
  </div>

  <a matTooltip="Dashboard" matTooltipPosition="after" routerLinkActive="active-list-item" mat-list-item
    (click)="showSubmenu9 = !showSubmenu9" class="parent">
    <span class="full-width" *ngIf="isExpanded || isShowing">Product</span>
    <mat-icon mat-list-icon>note_add</mat-icon>
    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu9}" *ngIf="isExpanded || isShowing">expand_more
    </mat-icon>
  </a>
  <div class="submenu" [ngClass]="{'expanded' : showSubmenu9}" *ngIf="isShowing || isExpanded">
    <a [routerLink]="['/superadmin/addproduct']" routerLinkActive="active-list-item" mat-list-item>
      <mat-icon>playlist_add</mat-icon>Add Product
    </a>
  </div>



  <a matTooltip="Dashboard" matTooltipPosition="after" routerLinkActive="active-list-item" mat-list-item
    (click)="showSubmenu10 = !showSubmenu10" class="parent">
    <span class="full-width" *ngIf="isExpanded || isShowing">Other Section</span>
    <mat-icon mat-list-icon>note_add</mat-icon>
    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu10}" *ngIf="isExpanded || isShowing">expand_more
    </mat-icon>
  </a>
  <div class="submenu" [ngClass]="{'expanded' : showSubmenu10}" *ngIf="isShowing || isExpanded">
    <a [routerLink]="['/superadmin/livetest']" routerLinkActive="active-list-item" mat-list-item>
      <mat-icon>playlist_add</mat-icon>livetest
    </a>
  </div>




  <a matTooltip="Dashboard" matTooltipPosition="after" routerLinkActive="active-list-item" mat-list-item
    (click)="showSubmenu11 = !showSubmenu11" class="parent">
    <span class="full-width" *ngIf="isExpanded || isShowing">Question Bank</span>
    <mat-icon mat-list-icon>note_add</mat-icon>
    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu11}" *ngIf="isExpanded || isShowing">expand_more
    </mat-icon>
  </a>
  <div class="submenu" [ngClass]="{'expanded' : showSubmenu11}" *ngIf="isShowing || isExpanded">
    <a [routerLink]="['/superadmin/addquestion']" routerLinkActive="active-list-item" mat-list-item>
      <mat-icon>playlist_add</mat-icon>Add Question
    </a>

    <a [routerLink]="['/superadmin/viewquestionbankquestion']" routerLinkActive="active-list-item" mat-list-item>
      <mat-icon>playlist_add</mat-icon>View Questions
    </a>
  </div>


  
  



</mat-nav-list>
