<section class="page-header" id="page-header" style="background-image: url(assets/images/breadcrumb-bg.jpg);
background-size: cover;
position: relative;
border-radius: 0;
color: #fff;">
    <div class="page-block">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-title">
                        <h5 class="m-b-10">Dashboard</h5>
                        <p class="m-b-0">Welcome to Avision Admin Panel</p>
                    </div>
                </div>
                <div class="col-md-4 text-right">
                    <a [routerLink]="['/superadmin/dashboard']" style="color:#fff">Home</a> / Edit Video Product
                </div>
            </div>
        </div>
    </div>
</section>

<div class="overlay" *ngIf="showLoader">
    <div class="center">
        <mat-progress-spinner diameter=100 mode="indeterminate" color="primary">
        </mat-progress-spinner>
        <div class="message">{{progress}}%</div>
    </div>
</div>

<section class="video-course-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">ADD SUBJECT</h1>
            </div>
            <form [formGroup]="addProductCategory" (ngSubmit)="addSubchapter()">
                <div class="row">
                    <div class="col-10 col-md-3 mx-auto">
                        <mat-form-field appearance="outline">
                            <mat-label>Select Parent Subject</mat-label>
                            <mat-select  formControlName="videosubject">
                                <mat-option *ngFor="let subject of subjectLists" [value]="subject.type_id">
                                    {{subject.type_name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-10 col-md-3 mx-auto">
                        <mat-form-field appearance="outline">
                            <mat-label>Select Course</mat-label>
                            <mat-select #course formControlName="chapter" (selectionChange)="onCourseSelect(course.value)">
                                <mat-option *ngFor="let course of courses" [value]="course.sub_category_id">
                                    {{course.sub_category_name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-10 col-md-3 mx-auto">
                        <mat-form-field appearance="outline">
                            <mat-label>Select Section</mat-label>
                            <mat-select formControlName="section">
                                <mat-option *ngFor="let section of section" [value]="section.section_id">
                                    {{section.section_name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    

                    <div class="col-10 col-md-3 mx-auto">
                        <mat-form-field appearance="outline">
                            <mat-label>Add Category</mat-label>
                            <input matInput formControlName="sub_chapter_name">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 col-md-6 mx-auto">
                        <button mat-raised-button type="submit" class="btn-success btn-block">Add Chapter</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<section class="add-video-chapter">
    <div class="container">
        <h1 class="text-center"> VIDEO CHAPTER LIST</h1>

        <div class="row">
            <div class="col-12 col-md-6">
                <mat-form-field>
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="applyFilter($event)" #input>
                </mat-form-field>
            </div>
        </div>


        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let row index as i"> {{i+1}} </td>
                </ng-container>



                <!-- Name Column -->
                <ng-container matColumnDef="videosubjectname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Video Chapter</th>
                    <td mat-cell *matCellDef="let row"> {{row.chapter_name}} </td>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="videochaptername">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Subject Name </th>
                    <td mat-cell *matCellDef="let row"> {{row.type_name}} </td>
                </ng-container>

                 <!-- Progress Column -->
                 <ng-container matColumnDef="sub_chapter_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sub Chapter</th>
                    <td mat-cell *matCellDef="let row"> {{row.sub_chapter_name}} </td>
                </ng-container>


                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit / Delete </th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-raised-button color="primary" (click)="edit_chapter(row.sub_chapter_id )">
                            <mat-icon>edit</mat-icon>
                        </button>

                        <button mat-raised-button color="warn"
                            (click)="delete_chapter(row.chapter_id, row.sub_chapter_name)">
                            <mat-icon>clear</mat-icon>
                        </button>
                    </td>
                </ng-container>



                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
        </div>
    </div>
</section>