<div class="overlay" *ngIf="showLoader">
    <div class="center">
      <mat-progress-spinner diameter=100 mode="indeterminate" color="primary">
      </mat-progress-spinner>
      <div class="message">{{progress}}%</div>
    </div>
  </div>

  <section class="page-header" style="background-image: url(assets/images/breadcrumb-bg.jpg);
background-size: cover;
position: relative;
border-radius: 0;
color: #fff;" id="page-header">
  <div class="page-block">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-8">
          <div class="page-title">
            <h5 class="m-b-10">Dashboard</h5>
            <p class="m-b-0">Welcome to Avision Admin Panel</p>
          </div>
        </div>
        <div class="col-md-4 text-right">
          <a [routerLink]="['/superadmin/dashboard']" style="color:#fff">Home</a> / Add Course
        </div>
      </div>
    </div>
  </div>
</section>
  
  
  <section class="video-course-section">
    <div class="container">
      <mat-card>
        <form [formGroup]="subCourse" (ngSubmit)="submitCourseDetails()">
          <div class="row">
            <div class="col-12">
              <h1 class="text-center">Update PARENT CATEGORY</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4 mx-auto">
              <mat-form-field appearance="outline">
                <mat-label>Add PARENT CATEGORY NAME </mat-label>
                <input matInput placeholder="Course Name..." formControlName="parent_category_name" required [(ngModel)]="categoryName">
              </mat-form-field>
              <input type="hidden" formControlName="parent_cat_id" required [(ngModel)]="parent_cat_id">
            </div>
          </div>
          <div class="row">
              <div class="col-12 col-md-4 mx-auto">
                  <button type="submit" mat-raised-button class="btn-success">Update Parent Category</button>
              </div>
          </div>
        </form>
      </mat-card>
    </div>
  
   
  </section>
  