<section class="page-header" style="background-image: url(assets/images/breadcrumb-bg.jpg);
background-size: cover;
position: relative;
border-radius: 0;
color: #fff;">
  <div class="page-block">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-8">
          <div class="page-title">
            <h5 class="m-b-10">Dashboard</h5>
            <p class="m-b-0">Welcome to Avision Admin Panel</p>
          </div>
        </div>
        <div class="col-md-4 text-right">
          <a [routerLink]="['/superadmin/dashboard']" style="color:#fff">Home</a> / Add Live Video
        </div>
      </div>
    </div>
  </div>


</section>
<div class="container-fluid page-wrapper" *ngIf="!showLiveCLassData">
  <section class="seles-section">
    <mat-card>
      <div class="container-fluid">
        <h1> Add Live Class Video</h1>

        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>

        <table mat-table [dataSource]="liveClassList" class="mat-elevation-z8" matSort>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> id. </th>
            <td mat-cell *matCellDef="let element index as i"> {{i+1}} </td>
          </ng-container>

          <ng-container matColumnDef="live_class_title">
            <th mat-header-cell *matHeaderCellDef> Live Class Title. </th>
            <td mat-cell *matCellDef="let element"> {{element.live_class_title}} </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element" class="action-link">
              <button mat-raised-button color="primary"
                (click)="addLiveClassVideo(element.live_class_meta_id, element.product_id)">
                <mat-icon>edit</mat-icon>
              </button>             
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </mat-card>
  </section>
</div>

<div class="container-fluid page-wrapper" *ngIf="showLiveCLassData">
  <section class="seles-section">
    <mat-card *ngIf="liveClassData.length > 0">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h1> <mat-icon (click)="toggleLiveCLassData()" style="cursor: pointer;">keyboard_backspace </mat-icon>   Add Live Class Video For: <b
                style="text-decoration: underline;">{{liveClassData[0]['live_class_title']}}</b></h1>
            <mat-divider></mat-divider>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12" style="margin-top: 20;">
              <h1> <br><br>Total Duration: {{  liveClassData[0]['validity']}}</h1>
              <mat-tab-group #tabGroup (selectedTabChange)="onSequenceChangeEvent($event)">
                <ng-container *ngFor="let duration of createRange(liveClassData[0]['validity']) index as i">

                  <ng-container *ngIf="i==0">
                    <mat-tab label="Day   {{(i+1)}} {{date1 | date: 'fullDate'}}">

                      <mat-card *ngIf="videoDataList.length == 0">
                        <div class="vertical-center">
                          <div class="container">
                            <div class="row"><img class="mx-auto img-fluid" src="assets/images/empty-page.png">
                              <div class="col-12 text-center">
                                <h4>Dont have any Videos</h4>
                                <p>Add videos to it now.</p>
                                <button mat-raised-button color="warn" class="mx-auto" (click)="openDialog(i+1)">Add
                                  Video</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </mat-card>


                      <div class="table-responsive" *ngIf="videoDataList.length > 0">
                        <table class="table table-bordered table-striped">
                          <thead class="thead-dark">
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Video Title</th>
                              <th scope="col">SubJect Name</th>
                              <th scope="col">Chapter Name</th>
                              <th scope="col">Video Banner</th>
                              <th scope="col">Video Url</th>
                              <th scope="col">Video PDF</th>
                              <th scope="col">Video Order</th>
                              <th scope="col">Video Date</th>
                              <th scope="col">Video Time</th>
                              <th scope="col">Edit</th>
                              <th scope="col">Delete</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let videoDataList of videoDataList index as i">
                              <th scope="row">{{i+1}}</th>
                              <td>{{videoDataList.vdo_title}}</td>
                              <td>{{videoDataList.type_name}}</td>
                              <td>{{videoDataList.chapter_name}}</td>
                              <td> <img src="http://localhost/avisionEstore/{{videoDataList.vdo_banner}}"
                                  style="height:100px; max-width: 200px;"> </td>
                              <td><a target="_blank"
                                  href="http://localhost/avisionEstore/{{videoDataList.vdo_url}}">Video </a> </td>
                              <td>
                                <ng-container *ngIf="videoDataList.vdo_pdf">
                                  <a target="_blank" href="http://localhost/avisionEstore/{{videoDataList.vdo_pdf}}">Pdf
                                  </a>
                                </ng-container>
                                <ng-container *ngIf="!videoDataList.vdo_pdf">
                                  No Pdf
                                </ng-container>
                              </td>
                              <td>{{videoDataList.vdo_order}}</td>
                              <td>{{videoDataList.vdo_date}}</td>
                              <td>{{videoDataList.time}}</td>
                              <td> <button mat-raised-button color="primary"
                                  (click)="editLiveClass(videoDataList.video_id)">
                                  <mat-icon>edit</mat-icon>
                                </button> </td>
                              <td> <button mat-raised-button color="warn" (click)="deleteLiveClassVideo(videoDataList.video_id)">
                                  <mat-icon>clear</mat-icon>
                                </button></td>
                            </tr>

                          </tbody>
                        </table>
                        <button mat-raised-button color="warn" class="float-right" (click)="openDialog(i+1)">Add
                          Video</button>
                      </div>



                    </mat-tab>
                  </ng-container>

                  <ng-container *ngIf="i > 0">
                    <mat-tab [label]="'Day  '+ (i+1)">
                      <mat-card *ngIf="videoDataList.length == 0">
                        <div class="vertical-center">
                          <div class="container">
                            <div class="row"><img class="mx-auto img-fluid" src="assets/images/empty-page.png">
                              <div class="col-12 text-center">
                                <h4>Dont have any Videos</h4>
                                <p>Add videos to it now.</p>
                                <button mat-raised-button color="warn" class="mx-auto" (click)="openDialog(i+1)">Add
                                  Video</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </mat-card>


                      <div class="table-responsive" *ngIf="videoDataList.length > 0">
                        <table class="table table table-bordered table-striped">
                          <thead class="thead-dark">
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Video Title</th>
                              <th scope="col">SubJect Name</th>
                              <th scope="col">Chapter Name</th>
                              <th scope="col">Video Banner</th>
                              <th scope="col">Video Url</th>
                              <th scope="col">Video PDF</th>
                              <th scope="col">Video Order</th>
                              <th scope="col">Video Date</th>
                              <th scope="col">Video Time</th>
                              <th scope="col">Edit</th>
                              <th scope="col">Delete</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let videoDataList of videoDataList index as i">
                              <th scope="row">{{i+1}}</th>
                              <td>{{videoDataList.vdo_title}}</td>
                              <td>{{videoDataList.type_name}}</td>
                              <td>{{videoDataList.chapter_name}}</td>
                              <td> <img src="http://localhost/avisionEstore/{{videoDataList.vdo_banner}}"
                                  style="height:100px; max-width: 200px;"> </td>
                              <td><a target="_blank"
                                  href="http://localhost/avisionEstore/{{videoDataList.vdo_url}}">Video </a> </td>
                              <td>
                                <ng-container *ngIf="videoDataList.vdo_pdf">
                                  <a target="_blank" href="http://localhost/avisionEstore/{{videoDataList.vdo_pdf}}">Pdf
                                  </a>
                                </ng-container>
                                <ng-container *ngIf="!videoDataList.vdo_pdf">
                                  No Pdf
                                </ng-container>
                              </td>
                              <td>{{videoDataList.vdo_order}}</td>
                              <td>{{videoDataList.vdo_date}}</td>
                              <td>{{videoDataList.time}}</td>
                              <td> <button mat-raised-button color="primary"
                                (click)="editLiveClass(videoDataList.video_id)">
                                <mat-icon>edit</mat-icon>
                              </button> </td>
                            <td> <button mat-raised-button color="warn" (click)="deleteLiveClassVideo(videoDataList.video_id)">
                                <mat-icon>clear</mat-icon>
                              </button></td>
                            </tr>

                          </tbody>
                        </table>

                        <button mat-raised-button color="warn" class="float-right" (click)="openDialog(i+1)">Add
                          Video</button>
                      </div>


                    </mat-tab>
                  </ng-container>

                </ng-container>


              </mat-tab-group>
            </div>
          </div>
        </div>

      </div>
    </mat-card>
  </section>
</div>
