.footer {
    width: 100%;
    
    background-color: #ebeef6;
}

.footer .copyright {
    
}

.footer .copyright p {
    
    margin: 0;
    font-size: 12px;
}

.footer .copyright a {
    color: #3a7afe;
}