<section class="page-header" style="background-image: url(assets/images/breadcrumb-bg.jpg);
background-size: cover;
position: relative;
border-radius: 0;
color: #fff;" id="page-header">
    <div class="page-block">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-title">
                        <h5 class="m-b-10">Dashboard</h5>
                        <p class="m-b-0">Welcome to Avision Admin Panel</p>
                    </div>
                </div>
                <div class="col-md-4 text-right">
                    <a [routerLink]="['/superadmin/dashboard']" style="color:#fff">Home</a> / Live Test
                </div>
            </div>
        </div>
    </div>
</section>

<div class="overlay" *ngIf="showLoader">
    <div class="center">
        <mat-progress-spinner diameter=100 mode="indeterminate" color="primary">
        </mat-progress-spinner>
        <div class="message">{{progress}}%</div>
    </div>
</div>


<section class="video-course-section">
    <div class="container-fluid">
        <mat-card class="pt-5">
            <form [formGroup]="addVideoCategory" (ngSubmit)="addVideoproductCategory()">

                <h1 class="text-center">VIDEO CATEGORY</h1>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Video Title</mat-label>
                            <input matInput formControlName="categorytitle" [(ngModel)]="categorytitle">
                        </mat-form-field>
                        <input type="hidden" formControlName="product_id" [(ngModel)]="prodId"> 
                    </div>

                    <div class="col-12 col-md-6 col-lg-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Video Course</mat-label>
                            <mat-select formControlName="videocourse" [(ngModel)]="videocourse">
                                <mat-option *ngFor="let course of courseLists" [value]="course.courses_id">
                                    {{course.courses_name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-10 col-md-6 col-lg-6 mx-auto">
                        <button type="submit" mat-raised-button class="btn-success btn-block">Add Course Category</button>
                    </div>
                </div>
            </form>

        </mat-card>
    </div>
</section>