<section class="page-header" id="page-header" style="background-image: url(assets/images/breadcrumb-bg.jpg);
background-size: cover;
position: relative;
border-radius: 0;
color: #fff;">
    <div class="page-block">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-title">
                        <h5 class="m-b-10">Dashboard</h5>
                        <p class="m-b-0">Welcome to Avision Admin Panel</p>
                    </div>
                </div>
                <div class="col-md-4 text-right">
                    <a [routerLink]="['/superadmin/dashboard']" style="color:#fff">Home</a> / Re-Order Trending Test
                </div>
            </div>
        </div>
    </div>
</section>

<div class="overlay" *ngIf="showLoader">
    <div class="center">
        <mat-progress-spinner diameter=100 mode="indeterminate" color="primary">
        </mat-progress-spinner>
        <div class="message">{{progress}}%</div>
    </div>
</div>

<section class="video-course-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 mx-auto">
                <h1>TRENDING TEST ORDERING</h1>
            </div>

            <div class="col-12 col-md-4 mx-auto">
                <button mat-raised-button class="btn-success btn-block btn-md" (click)="submit_reorder()">Submit Reorder</button>
              </div>
        </div>

        <div class="row" style="overflow-y: scroll;">
            <div class="col-12 mx-auto">
              <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">         
                <div class="example-box" *ngFor="let chapter of chapterLists" cdkDrag>{{chapter.sub_category_name}} <span matBadge="{{chapter.trending_order}}" matBadgeOverlap="false" class="order_count"></span></div>
              </div>
            </div>
          </div>
    </div>
</section>            